# ignore eclipse files
.classpath
.project
bin
java-cup-11a.jar

# ignore class files and the executable so we don't have to make clean before submit
*.class
cgen

# ignore symbol files to avoid confusion -- just re-run the tests
*.s
*.s.our
*.s.ref

# note that we are NOT ignoring src, since I (temporarily) changed a few things (see README)
# I also made a local hardlink to cool-tree, so I am ignoring that:
src/cool-tree.java